/*css for the whole body*/
body {
	margin: 30;
	padding: 20;
	z-index: 0;
	min-height: 100vh;
	position: relative;
	font-family: 'Nunito Sans', sans-serif;
}
/*css to place footer always at the end of the page*/
body::after {
	content: '';
	display: block;
	height: 300px;
}
/* font style for headings*/
h1, h2, h3, h4{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
}

/* css for jumbotron text*/
#text{
	margin: 0;
	padding: 30px;
}

.main-header{
	text-align: center;
	font-size: 50px;
	font-weight: 600;
	color: #244d4d;
}
/* css to align elements to the center */
.text-center{
	text-align: center;
}
/* css to prevent default styling of links */
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.row{
	padding-top: 10px;
}
.home{
	/*width: 30%;*/
	padding-right: 0;
	display: inline-block;
}
.text-middle{
	display: inline-block;
	vertical-align: middle;
}
.bold-green{
	font-size: 50px;
	font-weight: 600;
	color: #244d4d;
}
.IITH{
	font-size: 14px;
	font-weight: 600;
	color: #244d4d;
}
.home-img{
	margin-left: 20%;
	margin-top: -34%;
}
.blur {
	display: inline-block;
	padding: 60px;
	margin-top: 12%;
  position: relative;
  background: hsla(0, 0%, 100%, .4);
	/*hsla(60, 20%, 75%, .3)*/
	width: 50%;
  overflow: hidden;
}
.blur::before {
  content: '';
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* css for nav bar*/
.navbar-header{
	display: flex;
	justify-content: flex-end;
}
nav{
	margin-bottom: 20px;
}
.nav{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.nav li{
	display: inline;
}
.navbar-dark{
	background-color: #f4f4f6;
}
.navbar-dark .navbar-nav .nav-link {
  color: #3d3d3f;
	/*width: 93px;
	height: 31px;*/
}
.navbar .active{
	color: #ff0000;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #3d3d3f;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #ff0000;
}
.collapse-button{
	display: none;
}
.navbar-dark .navbar-toggler {
	display: inline-block;
  color: #3d3d3f;
  border-color: rgba(255, 255, 255, .1);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2861, 61, 63, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.nav-item{
	padding: 0 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.dropdown-menu{
	background-color: #f4f4f6;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.dropdown-item{
	color: #3d3d3f;
}
.dropdown-item:hover{
	background-color: #3d3d3f;
	color: #f4f4f6;
}
.dropdown-item:active{
	background-color: #f4f4f6;
	color: #3d3d3f;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
/* css for carousel in homepage*/
.container-carousel{
	margin: auto;
	width: 80vw;
}
.carousel {
	background:  #f4f4f6;
	margin: auto 20px 20px 20px;
}
.carousel-item{
	height: 50vh;
}
.carousel-image img{
  width: 100%;
	height: 50vh;
}
.carousel-image{
  width: 70vw;
}
.mycarouseltext{
	padding-left: 1%;
  padding-right: 3%;
  color: #3d3d3f;
	margin-top: 20%;
	display: inline-block;
	position: relative;
  background: hsla(60, 20%, 75%, .3);
	width: 30vw;
	word-wrap: break-word;
  overflow: hidden;
}
.mycarouseltext::before {
  content: '';
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.mycarouseltext p{
	font-size: 100%;
}
.carousel-control-next, .carousel-control-prev{
	width: 30px;
}
.give-margin{
	margin: 20px auto;
	width: 60vw;
}
/* css for all the elements between carousel and footer in homepage*/
.white-space{
	width: 100%;
	height: 15vh;
}
.sub-heading{
	font-size: 20px;
}
.div-1, .div-2, .div-3, .div-4, .div-5{
	padding-top: 50px;
	padding-bottom: 50px;
}
.div-5{
	margin-top: -20px;
}
.text-vertical-middle{
	align-items: center;
}
.column1 , .column2 , .column3{
	width: 80%;
	margin: 1%;
	margin-left: 10%;
	margin-right: 10%;
}
.column1 .heading , .column2 .heading{
	border-radius: 25px 25px 0px 0px;
	background-color: #696766;
	color: #fff;
	margin-bottom: 0px;
	text-align: center;
}
.column1 ul , .column2 ul{
	border-radius: 0px 0px 20px 20px;
	background-color: ff88d9;
	box-shadow:0px 0px 20px #828181;
	padding-top: 5px;
	padding-bottom: 5px;
}
.column3 .heading{
	background-color: #696766;
	color: #fff;
	margin-bottom: 0px;
	text-align: center;
}
.column3 ul{
	background-color: ff88d9;
	box-shadow:0px 0px 20px #828181;
	padding-top: 5px;
	padding-bottom: 5px;
}
/*@media screen and (max-width: 1200px) {
.column1, .column2 {
    width: 100%;
  }
}*/
/* css for faculty page */
.rounded-image{
	width: 232px;
	height: 250px;
	border: 3px solid black;
	border-radius: 50%;
}
/* css for students page */
.margin_bottom{
	margin-bottom: 20px;
}
.display-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.students-tab {
  padding: 10%;
  margin-top: -8%;
}
.students-tab .nav-tabs .nav-link.active {
  color: #292b2c;
  background-color: transparent;
  border-bottom: 3px solid;
  font-size: 16px;
  font-weight: bold;
}
.students-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #292b2c;
}
.students-tab .nav-link:hover {
  /* border: none; */
  color: #515152;
}
.no-color tr td:first-child{
	width: 60%;
}
.no-color tr td:first-child a{
	color: #000;
}
.no-color tr td:last-child{
	width: 40%;
}
.background{
	background-color: #f4f4f6;
}
/* css to reduce left padding in homepage tables*/
.gap{
	padding-left: 30px;
	margin: 0;
}
.news{
	font-size: 150%;
}
.news p{
	font-size: 90%;
}
/* css to justify contents in paragraphs*/
.justify-content{
	padding: 0 2px;
	text-align: justify;
	text-justify: inter-word;
	vertical-align: middle;
}
.blog-content-body {
	color: #000000;
	margin-bottom: 30px;
}
.blog-content-body h4{
	font-size: medium;
}
.blog-entry img{
	height: 250px;
}
.align_center{
	text-align: center;
}
.buttons{
	margin: 10px;
}
.bold{
	font-weight: bold;
}

.bottom-border td{
	border-bottom: 0;
}
.color-row{
	background-color: #0000000C;
}
.no-color-row{
	background-color: transparent !important;
}
.color-row td, .no-color-row td{
	border-top: 0;
	border-bottom: 0;
}
.top-border td{
	border-top: 0;
}
/* css for project contents */
.project-img{
	width: 400px;
	height: 250px;
	border-radius: 25px;
}
.project-links{
	margin: 0;
}
.padding-below{
	padding-bottom: 30px;
}
hr{
	width: 100%;
	height: 5px;
}
/* css for contact page */
.contact{
	line-height: 1.5;
}
.less-font-weight{
	font-weight: 300;
}
.credits td{
	padding: 12px 3px 12px 6px;
}
/* css for footer */
.footer {
	background-color: #244d4d;
	padding: 30px 0 10px 0;
	position: absolute;
	bottom: 0;
	height: 270px;
	width: 100%;
	color: #fff;
	text-align: center;
}
.navigate{
	color: #eee;
}
.icons{
	display: flex;
	justify-content: center;
	padding: 30px 0;
}
.img-footer{
	width : 70px;
	height : 70px;
}
.footer .fa{
	color: #fff;
	padding: 5px;
}
.footer a:hover{
	color: #ff0000;
}
@media screen and (max-width: 767.5px) {
	body::after {
		height: 530px;
	}
	.navbar{
		padding-top: 0;
		padding-bottom: 0;
	}
	.carousel-image img {
		height: 40vh;
	}
	.carousel-item{
		height: 40vh;
	}
	.footer {
		height: 500px;
	}
}

@media screen and (max-width: 991.5px) {
	.carousel-image{
	  width: 100vw;
	}
	.mycarouseltext{
		width: 0;
	}
}

/*@media screen and (max-width: 1266px) {
	.home{
		width: 70% !important;
	}
	.collapse-button{
		display: inline-block !important;
	}
	.navbar-collapse{
		display: none !important;
	}
}

@media screen and (min-width: 1267px) {
	.home{
		width: 30% !important;
	}
	.collapse-button{
		display: none!important;
	}
	.navbar-collapse{
		display: inline-block !important;
	}
}*/
